.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    
    z-index: 99;
}
.bg{
    width: 400px;
}
.links{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link{
        font-size: 2rem;
        
        transition: 0.1s ease;
    }
    .link:hover{
        transform: scale(1.1);
    }
}
.toggleButton{
    color: white;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
}

@media screen and (max-width: 600px) {
    .bg{
        width: 320px;
    }
    .links .link{
        font-size: 1.7rem;
    }
}